/* Somente para telas grandes */
@media ( min-width : 768px) {
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
}


/* Comum a todos dispositivos */
.form-horizontal {
	font-size: 11px;
}

.form-control {
	font-size: 11px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 30px;
}

.navbar-brand {
	padding-top: 12px;
}

.sige-link-panel {
	float: right;
	padding: 0px;
}

.sige-titulo-panel {
	float: left;
	padding-top: 2px;
}

.btn-default-height {
	height: 30px;
}